
.header-image, .main-menu, .reklamy, .article-menu{
    display: none;
}

html{
    font-size: 12pt;
    text-align: center;
}

h1{
    font-size: 12pt;
    margin:0;
}
h2{
    font-size: 2em;
    margin-bottom: 1em;
}

main{
    margin:0
}

p:not(:last-of-type):after {
    content:'';
    margin:0;
}

p{
    page-break-inside: avoid;
}

.article-image{
    border: none;
    box-shadow: none;
}
a[href]{
    text-decoration: none;
    color:blue;
}
a[href]:after {
    content: ' ( ' attr(href) ' )';
    text-decoration: none;
    color: gray;
    font-size: 10px;
}