html{
    color: black;
    font-size: 12px;
    line-height: 1.5em; 
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin:0;
}
h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header-image {
    background-color: linen;
    height: 0px;
    animation: 1s .5s main-image;
    animation-fill-mode: forwards;
    background-image: url(../images/pexels-photo-127753.jpeg);
    background-position: 50% 40%;
    background-size: cover;
}

p {
    text-align: justify;
}

main {
    width:1024px;  
    margin: 0 auto;
}

@media screen and (max-width: 1024px){

    main {
        width:auto;  
        margin: 0 40px;
    }
}


@media screen and (max-width: 768px), 
       screen and (orientation: portrait){
           
    .columns{
        flex-direction: column;
    }
    .columns .reklamy{
        width: 100% !important;
        overflow: hidden;
    }
    .reklamy aside{
        justify-content: space-around;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 425px){
    main{
        margin: 0 8px;
    }
    .header-image, .article-menu{
        display: none; 
    }
    .main-menu > ul{
        flex-direction: column;
    }
    .main-menu ul ul{
        position: static !important;
        background: #fff;
    }
    header h1{
        font-size: 1.5em;
    }
}

.columns{
    display: flex;
}
.columns article{
    flex:1;
}
.columns .reklamy{
    margin-left: 10px;
    width:150px;
}

article {
    font-size:1.2em; /* 12px * 1,2 */
}

h1{
    font-size: 3rem;
    line-height: 1.5em;
    margin-bottom: 1rem;
}

h2{
    font-size: 2rem; /* 12px * 1,2 * 2 */
    /* line-height: 1.5em; */
    margin-bottom: 1rem;
}

.article-menu{
    float: right;
    padding-right: 10px;
    border: 5px double gray;
    padding: 10px 30px;
    border-radius: 30px 10px;
    margin: 0 10px;
}

.article-image{
    float:left;
    width: 100px;
    margin-right: 10px;
    border: 5px solid rebeccapurple;
    box-shadow: 1px 1px 5px darkslateblue;
}
.article-image.right{
    float:right;
    margin-right: 0px;
    margin-left: 10px;
}

.main-menu ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.main-menu ul ul {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);    
    position: absolute;
    left: -1%;
    top: 18px;
    width: 102%;
    display: none;
}

.main-menu li:hover {
    background: red;
}
.main-menu li:hover ul{
    display: initial;
}

.main-menu li{
    flex: 1;
    text-align: center;
    border: 1px solid black;
    position: relative;
}

.main-menu a{
    padding: 5px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}



.reklamy img{
    width:150px;
}
/* .reklamy{
    width: 150px;
    float: left;
    margin-left: 10px;
}

article{
    width: calc(100% - 150px - 10px);
    float: left;
}

footer{
    clear:both;
} */


p:not(:last-of-type):after {
    content: '-- 😋 --';
    width: 100%;
    height: 10px;
    display: block;
    text-align: center;
    margin: 1em 0;
    color:lightgray;
}

.article-image{
    transition: 0.5s transform ease-out
}
.article-image:hover{
    transform: rotateZ(15deg) 
}


@keyframes main-image{
    0%{
        height: 0
    }
    100%{
        height: 200px;
    }
}

@keyframes animacja{
    0% {
        transform: translate(0px,0px)
    }
    25% {
        transform: translate(200px,0px)
    }
    50% {
        transform: translate(200px,100px)
    }
    100% {
        transform: translate(0px,100px)
    }
}

@media print {

    .header-image,   .main-menu{
        display: none;
    }
}